 .container {
    width: 80%;
    margin: 50px auto;
  }
  
  .password-panel {
    
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .password-input {

    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .copy-button {
    padding: 10px 15px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .copy-button:hover {
    background-color: #0056b3;
  }
  
  .options {
    display: flex;
    justify-content: space-between;
  }
  
  .length-slider {
    flex: 1;
    margin-right: 20px;
  }
  
  .length-slider label {
    display: block;
    margin-bottom: 5px;
  }
  
  #password-length {
    width: 100%;
  }
  
  .checkboxes {
    flex: 1;
  }
  
  .checkboxes input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .checkboxes label {
    margin-right: 10px;
  }
  